{% extends '::base.html.twig' %}

{% block body %}



<script type="text/javascript">
 

  $(function() 
	{


$("#navbar").children().attr("disabled","disabled");
$('.dropdown-menu').hide();
});


</script>


<ul class="nav nav-pills">
  <li class="active"><a href="{{ path('user_password_reset_first_use', { 'id': entity.id }) }}">1. Editer Mot de Passe</a></li>
  <li ><a anchor.href="javascript:void(0)">2. Valider Profil</a></li>
  <li ><a anchor.href="javascript:void(0)">3. Editer l'école</a></li>
  
</ul>
<h3>Editer mot de passe </h3>

<form action="{{ path('user_password_update_firstuse', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal well" onsubmit="return checkform(this);">

Ancien Mot de passe :<br><input type="password" required="true" id="ancien" name="ancien"/>   
 {{ form_widget(edit_form) }}
<br>

  <p>
      <label for="code">Veuillez ecrire le code suivant <span id="txtCaptchaDiv" style="color:#F00;font-size:30px;font-family: AR HERMANN"  ></span><!-- this is where the script will place the generated code --> 
      <input type="hidden" id="txtCaptcha" /></label><!-- this is where the script will place a copy of the code for validation: this is a hidden field -->
      <input type="text" name="txtInput" id="txtInput" size="30" />
    </p>

<br>
    <p>
        <button type="submit" class="btn btn-primary">Editer</button>
    </p>
<div class="row" style="position: absolute;top: 220px; right: 200px  "><div class="span4"><div class="alert alert-info">Chers collègues,

Nous vous prions de bien vouloir valider vos informations personnelles lors de votre première connexion; ou d'effectuer éventuellement les changements nécessaires.
Nous vous rappelons que vous avez l'obligation légale (article 22 du code de travail) de mettre à jour vos données personnelles dès qu'un changement dans votre situation devient effectif (changement d'adresse, situation familiale...). Nous vous prions de respecter cette procédure.
Pour toute question relative à ce volet, merci de contacter le Département Ressources humaines par téléphone ou par e-mail: ybelmokadem@fmps.ma</div> 
</div></div></div>

</form>
<script type="text/javascript">
	function checkform(theform){
		var why = "";
		 
		if(theform.txtInput.value == ""){
			why += "- Security code should not be empty.\n";
		}
		if(theform.txtInput.value != ""){
			if(ValidCaptcha(theform.txtInput.value) == false){
				why += "- code de sécurité incorrect.\n";
			}
		}
		if(why != ""){
			alert(why);
			return false;
		}
	}
 

//Generates the captcha function    
	var a = Math.ceil(Math.random() * 9)+ '';
	var b = Math.ceil(Math.random() * 9)+ '';       
	var c = Math.ceil(Math.random() * 9)+ '';  
	var d = Math.ceil(Math.random() * 9)+ '';  
	var e = Math.ceil(Math.random() * 9)+ '';  
	  
	var code = a + b + c + d + e;
	document.getElementById("txtCaptcha").value = code;
	document.getElementById("txtCaptchaDiv").innerHTML = code;	

// Validate the Entered input aganist the generated security code function   
function ValidCaptcha(){
	var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
	var str2 = removeSpaces(document.getElementById('txtInput').value);
	if (str1 == str2){
		return true;	
	}else{
		return false;
	}
}

// Remove the spaces from the entered and generated code
function removeSpaces(string){
	return string.split(' ').join('');
}
</script>

{% endblock %}