{% extends '::base.html.twig' %}

{% block body %}
<h3>Situation de caisse</h3>


<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Mois</th>
            <th>Solde initiale</th>
            <th>Total alimentation</th>
						<th>Total achats</th>
						<th>Cloture</th>
						<th>Fichier joint</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}