{% block field_row %}
    <div class="form_row toto">
        <div>{{ form_label(form) }}<div>
        <div>{{ form_errors(form) }}<div>
        <div>{{ form_widget(form) }}<div>
    </div>
{% endblock field_row %}